
/* Root Variables */
:root {
    /* Neutral Colors */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-blue: rgb(0, 37, 245);
    --light-turquoise-blue: rgb(97, 212, 250);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
}

.container {
    height: 100vh;
    background-color: var(--light-grayish-violet);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3.75rem;
}

form {
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    gap: 0.5rem;
    border-radius: 0.313rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    padding: 1.25rem;
    width: 37.5rem;
}

.container form .inputbox {
    margin-top: 1.25rem;
}

form p {
    display: block;
    text-transform: uppercase;
    color: hsl(0, 0%, 60%);
    padding-bottom: 0.313rem;
}

input, select {
    width: 100%;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 1.5px solid rgba(0, 0, 0, 0.3);
    color: hsl(0, 0%, 27%);
}

select, option {
    text-transform: uppercase;
    color: hsl(0, 0%, 60%);
}

.grid-1 {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
}

.grid-2 {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.grid-3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.flexbox {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.flexbox .inputbox {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
}

.submit-btn {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    text-transform: uppercase;
    color: var(--white);
    background-image: linear-gradient(to right, rgb(0, 37, 245), rgb(97, 212, 250));
    margin-top: 20px;
    cursor: pointer;
}

/* Card Container */
.card-container {
    position: relative;
    height: 250px;
    width: 400px;
    bottom: -20px;
    /* transform-style: preserve-3d; */
}

/* Card Front */
.card-front {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(to right, rgb(0, 37, 245), rgb(97, 212, 250));
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) rotateY(0deg);
    transition: 0.5s ease-out;
    /* display: none; */
}

.card-front p {
    color: var(--white);
}

.front-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

.front-images img:first-child {
    transform: scale(0.5);
}
.front-images img:last-child {
    transform: scale(0.4);
}

.card-number-display {
    padding: 0px 0px 0px 20px;
}
.card-number-display p {
    font-size: 22px;
}

.user-details-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 20px 0px 20px;
}

.cardholder-name-display {
    display: flex;
    flex-direction: column;
}

.cardholder-name-display p:nth-child(1) {
    font-weight: 700;
}

.date-input-display {
    display: flex;
    flex-direction: column;
}

.date-input-display p:nth-child(1) {
    font-weight: 700;
}

.expiry-mm-yy {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

/* Card Back */
.card-back {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* padding: 5px; */
    background-image: linear-gradient(to right, rgb(0, 37, 245), rgb(97, 212, 250));
    border-radius: 10px;
    backface-visibility: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.2);
    transform: perspective(500px) rotateY(90deg);
    transition: 0.5s ease-out;
    /* display: none; */
}

.box-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 20px;
}

.card-back p {
    color: var(--white);
    position: relative;
    right: 30px;
}

.card-back .back-images {
    transform: scale(0.4);
}

.back-images img {
    position: relative;
    left: 80px
}

.magnetic-stripe {
    width: 400px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: black;
}

.white-box {
    width: 300px;
    height: 50px;
    background-color: var(--white);
    border-radius: 5px;
    align-self: center;
}

/* Animation Trigger */

.card-container:hover .card-back {
    transform: perspective(500px) rotateY(0deg);
  }
